@using ENCUESTA.WEB.Helpers;
@model ENCUESTA.WEB.ViewModel.RecomendacionesViewModel.ListRecomendacionesViewModel
@{
    ViewBag.Title = "ShowResult";
}




<div class="card card-nav-tabs" style="top:-80px;">

    <div class="header header-danger">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <h2 style="text-align:center"><b>Recomendaciones</b></h2>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="profile">
                @foreach (var item in Model.mostrarRP)
                {
                    @Html.Raw(BuildUI.builRecomendPHtml(item));
                }
                <hr />
                <div class="tab-content" id="contenedorRadio">
                    @foreach (var item in Model.mostrarRS)
                    {

                        <p class="text-danger">@item</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


